{% extends 'base.html.twig' %}

{% block title %}Awesome Task List{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
{% endblock %}

{% block body %}
    <div id="awesome-task-app"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('build/app.js') }}"></script>
{% endblock %}
